// slurm and resource allocation
process {
 executor = 'slurm'
 nodes=1
 cpus = 8
 memory = 4.GB 
 time = 30.min
 withName: bwamem { time = '8.h' }
 withName: bwamem { memory = '16.GB' }
 withName: picard { time = '3.h' }
 withName: picard { memory = '50.GB' }
 
}

//modules could be defined here and that would be nice but I did not do that yet
//TODO: add module parameters. 


// Script parameters

//Path to directory containing the fastq files (be appended to data stored in input table)
params.datadir="/gpfs/data/kirchhofflab/master_data/Project-R01_IT_Response-103118/BMS_Samples_WGS/"

//A tsv table with out sample IDs and read file names
params.table="./paths.txt"

//Reference Sequence
params.ref = "/gpfs/data/kirchhofflab/Resources/hg38/GRCh38.primary_assembly.genome.fa"

//Output Directory
params.out = "./output"
