// slurm and resource allocation
process {
 errorStrategy 'retry'
 maxRetries 3
 executor = 'slurm'
 nodes=1
 cpus = 8
 memory = 16.GB 
 time = 3.h
 withName: bwamem { time = '30.h' }
 withName: bwamem { memory = '32.GB' }
 withName: picard { time = '12.h' }
 withName: picard { memory = '50.GB' }
 
}

//modules could be defined here and that would be nice but I did not do that yet
//TODO: add module parameters. 


// Script parameters

//Path to directory containing the fastq files (be appended to data stored in input table)
params.datadir=""

//A tsv table with out sample IDs and read file names
params.table="./paths.txt"

//Reference Sequence
params.ref = "/gpfs/data/kirchhofflab/Resources/hg38/GRCh38.primary_assembly.genome.fa"

//Output Directory
params.out = "./output"
